################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ParallelLaba2/.vs/ParallelLaba2/v16/Server/sqlite3/db.lock
/.vs/laba11/v16/Server/sqlite3/db.lock
/ProcessTest/.vs/ProcessTest/v16/Server/sqlite3/db.lock
/PipeTest/.vs/PipeTest/v16/Server/sqlite3/db.lock
